{% extends 'main.html' %}
{% block 'content' %}

<div class = "row"  id="toolbox" style="margin-bottom: 20px;">
    <div class="col-sm-2">
        <button class="btn btn-success" id="addCardButton" data-toggle="modal" data-target="#addCardModal">Добавить</button>
    </div>
    <div class="col-sm-2">
        <button class="btn btn-danger " onclick="">Удалить</button>
    </div>

    <input type="search">
    <button role="button">Поиск</button>

</div>

    <table class="table">
        <tr>
            <th></th>
            <th>КОД</th>
            <th>НАКОПЛЕНИЯ</th>
            <th>ФИО</th>
            <th></th>
        </tr>
        {% for card in cards %}
        <form id="{{ card.code }}">
     <tr>
         <td><input class="form-control" type="checkbox" id="check_{{card.code}}"></td>
         <td>{{ card.code }}</td>
         <td>{{ card.accumulation}}</td>
         <td>{{ card.holder_name}}</td>
         <td><button data-toggle="modal" data-target="#viewCardModal" type="button" onclick="getCard('{{card.code}}');" class="fa fa-eye" aria-hidden="true" title="Просмотр"></button></td>
     </tr>
            </form>
        {% endfor %}

    </table>


<div class="modal fade" id="addCardModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Добавление карты</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <p>
            <label for="addCardCode">Код карты</label>
            <input class="form-control"  type="text" id="addCardCode" value="">
            </p>
          <p>
            <label for="addCardFio">ФИО держателя</label>
            <input class="form-control"  type="text" id="addCardFio" value="">
          </p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" onclick="saveNewCard();">Сохранить</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
      </div>
    </div>
  </div>
</div>



<div class="modal fade" id="viewCardModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Просмотр карты</h5>
        <button type="button"  data-dismiss="modal" class="close"  aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <p>
            <label for="CardCode">Код карты</label>
            <input   class="form-control" disabled type="text" id="CardCode" value="">
            </p>
          <p>
            <label for="CardFio">ФИО держателя</label>
            <input class="form-control"  type="text" id="CardFio" value="">
          </p>
          <p>
            <label for="CardAccum">Накопления</label>
            <input class="form-control" disabled type="text" id="CardAccum" value="">
          </p>
          <p>
            <label for="CardBonus">Бонусы</label>
            <input class="form-control"  disabled type="text" id="CardBonus" value="">
          </p>
          <p>
            <label for="CardDiscount">Скидка</label>
            <input class="form-control"  disabled type="text" id="CardDiscount" value="">
          </p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" onclick="">Сохранить</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
      </div>
    </div>
  </div>
</div>

<script>
    var buffer= '';


    $('html').keydown(function(e){ //отлавливаем нажатие клавиш

        if (e.keyCode == 13) {
            if (! $('#addCardModal').hasClass("show"))
            {
            $(document).click();
            $('#addCardButton').click();}

            $('#addCardCode').val(buffer);
            $("#one").on("input", function() {

                setTimeout(function(){
                $("#addCardCode").focus();
                    }, 2);

});
            buffer= '';
            }
    if (is_numeric(String.fromCharCode(e.keyCode))){
            buffer+=String.fromCharCode(e.keyCode);}
});

function saveNewCard(){
    var card_code= $("#addCardCode").val();
    var card_holder_name = $("#addCardFio").val();
    var card_data = {"card_code": card_code,
                        "card_holder_name": card_holder_name}
    var cmd = "add";

    $.ajax({
        url: '../cards/maintenance/',
        type: "POST",
        data: {
          "cmd": cmd,
          "data": JSON.stringify(card_data)
        },
        dataType: "json",
        success: function (data) {
          if (data.result) {
            if (data.result == "ok"){
                window.location.href = '../cards/';
            }
            else
            {
               alert("Ошибка!");
            }
         }
        }
      });

}


function getCard(card_code){
    var card_data = {"card_code": card_code}
    var cmd = "get";
    var cData;

    $.ajax({
        url: '../cards/maintenance/',
        type: "POST",
        data: {
          "cmd": cmd,
          "data": JSON.stringify(card_data)
        },
        dataType: "json",
        success: function (response) {
          if (response.result) {
            if (response.result == "ok"){
                cData = response.data;
                $('#CardCode').val(cData.code);
                $('#CardFio').val(cData.holder_name);
                $('#CardAccum').val(cData.accumulation);
                $('#CardBonus').val(cData.bonus);
                $('#CardDiscount').val(cData.discount);

            }
            else
            {
               alert(data.msg);
            }
         }
        }
      });

}

</script>

{% endblock %}

