{% extends 'main.html' %}
{% block 'content' %}

<style>
    .scroll-data{
        overflow: hidden;
        overflow-y: scroll;
    };
</style>


<!--<div id = 'toolbox' style="position: fixed; z-index: 999999999; background-color: white; width: inherit;">-->
<div style="">
<div class="form-group row">
        <div class="col-5 ">
            <button class="btn btn-success btn-sm" id="addCardButton" data-toggle="modal" data-target="#CardModal"><i class="fa fa-credit-card" aria-hidden="true"></i> Добавить</button>
            <button class="btn btn-danger btn-sm"  onclick="deleteCard();"><i class="fa fa-trash-o" aria-hidden="true"></i> Удалить</button>
             <button class="btn btn-warning btn-sm"  onclick=""><i class="fa fa-recycle" aria-hidden="true"></i> Восстановить</button>
        </div>
        <div class="col-5">
            <input type="text" id="search" class="form-control form-control-sm" placeholder="Код карты или ФИО владельца">


        </div>
        <div class="col-2">
            <button class="btn btn-primary" onclick="dataUpdate();"><i class="fa fa-filter" aria-hidden="true"></i> Фильтр</button>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-5 ">

        </div>
        <div class="col-5">
                <small>Сортировать по</small>
                <select id="sort"class="form-control form-control-sm">
                    <option value="code">КОД</option>
                    <option value="holder_name">ФИО</option>

                </select>
                     <label class="form-check-label form-control-sm">
                 <input class="form-check-input form-control-sm" type="checkbox" id="showDeleted"> Показать удаленные
            </label>
        </div>
        <div class="col-2">
             <button class="btn btn-primary" onclick="clearFilter();"><i class="fa fa-repeat" aria-hidden="true"></i> Сбросить</button>
        </div>

    </div>



    <div class="form-group row pull-right">
            <small id="total"></small>
    </div>
</div>

<div  id="data">
    <table id="scrollData" class="table">
        <thead>
        <tr >
            <th></th>
            <th>КОД</th>
            <th>ТИП</th>
            <th>ФИО</th>
            <th></th>
        </tr>
        </thead>
        <tbody id="tbody">


        </tbody>
    </table>
</div>


<div class="modal fade" id="CardModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Карта</h5>
        <button type="button" class="close"  onclick="clearForm();" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form id="CardForm" method="POST">
              {% csrf_token %}
                {{ form }}
          </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" onclick="saveCard();">Сохранить</button>
        <button type="button" class="btn btn-secondary" onclick="clearForm();" data-dismiss="modal">Отмена</button>
      </div>
    </div>
  </div>
</div>


<script src="/static/js/cards.js">

</script>

{% endblock %}

