{% extends 'index.html' %}

{% block 'login' %}
<div class="row" id="login">
            <div class="card col-sm-4">
                <div class="card-block">
                        <h3 class="card-title">Авторизация</h3>
                        <p class="card-text">
                        <label for="user">Логин</label>
                        <input type="text" id="user">
                        </p>
                        <p class="card-text">
                        <label for="password">Пароль</label>
                        <input type ='password' id="password">
                        </p>
                        <button class="btn btn-primary">Войти</button>
                </div>
            </div>
        </div>
{% endblock %}