{% extends './index.html' %}
{% load discountServer_extras %}
{% block 'main' %}

    <div class="container" style="margin-bottom: 40px;">
        <nav class="nav navbar-expand-lg">
            <img height=50 width=346 class="navbar-brand" src="/static/images/logo.png">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="../">Главная</a>
                  </li>
                <li class="nav-item">
                    <a class="nav-link" href="/cards/">Карты</a>
                  </li>
                <li class="nav-item">
                    <a class="nav-link" href="/transactions/">История операций</a>
                  </li>
                <li class="nav-item">
                   <a class="nav-link" href="/settings/">Настройки</a>
                  </li>
                {% if request.user|has_group:"administrators" %}
                <li class="nav-item">
                   <a class="nav-link" href="/admin/">Администрирование</a>
                  </li>
                {% endif %}
            </ul>
            <form class="form-inline">
                <a  class="nav-item" style="margin-right: 10px;">{{ user.username }}</a>
                <a href = "../logout/">Выйти</a>
            </form>

        </nav>
    </div>

    <div class="container">

        {% block 'content' %}
        <div class="jumbotron">
            <h1>Скрипт для FRONTOL 5</h1>
            <h1>Инструкция по настройке</h1>
            <h1>Техподдержка</h1>
        </div>
        {% endblock %}
         </div>

{% endblock %}