{% extends 'main.html' %}
{% block 'content' %}
<h3>Настройки</h3>
<style>
    .jumbotron {
    background-color: white !important;
    }
</style>

<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="discount-tab" data-toggle="tab" href="#discount" role="tab" aria-controls="discount" aria-selected="true">Дисконтная система</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="workplace-tab" data-toggle="tab" href="#workplace" role="tab" aria-controls="workplace" aria-selected="false">Кассы</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="org-tab" data-toggle="tab" href="#org" role="tab" aria-controls="org" aria-selected="false">Организация</a>
  </li>
</ul>
<div class="tab-content" id="settingsContent">
    <select id="id_algorithm">
        <option val="bonus">бонус</option>
    </select>

</div>




<script>

       function addRule()
       {
            var html= '<div class="form-row rule">  \
                        <div class="col-3 ">    \
                            <label>Процент скидки</label>  \
                            <input type="number" min="0" class="form-control discount" placeholder="Процент скидки"> \
                        </div> \
                        <div class="col-3 "> \
                            <label>Необходимые накопления</label> \
                            <input type="number" min="0" class="form-control accum" placeholder="Необходимые накопления"> \
                        </div> \
                    </div>';
            $('#discount-rules').append(html);
       }

        function remRule()
       {

            $('.rule').last().remove();
       }


       function makeDiscountRules()
       {
            var rules_list = {};
            $.each($('.rule'), function(index, value){
                    var dis = value.children[0].getElementsByClassName("discount")[0].value;
                    var accum = value.children[1].getElementsByClassName("accum")[0].value;
                    rules_list[dis] = parseFloat(accum);
            });
            return rules_list;
       }


       function sendSettings(cmd)
       {
            var rules = makeDiscountRules();
            var data = {};
            //var form_data = $('#bonus-form').serializeArray();
           // $.each(form_data, function(index, value){
            //        data[value['name']] = value['value'];
            //    });
           // data['rules']=rules;
            $.ajax({
            url: '/settings/',
            type: "POST",
            data: {
                "cmd": cmd,
              "data": JSON.stringify(data),
            },
            dataType: "html",
            success: function (data) {
              if (data) {
                 $('#settingsContent').html(data);

                }}
              });
    }

    sendSettings('get');
$('#id_algorithm').on('shown.bs.select', function(e) {
    var selected = $(e.currentTarget).val();
        if ($('#id_algorithm').val() == 'discount')
        {
            $('#discount-rules-controls').show();
         }
         else
         {
            $('#discount-rules-controls').hide();
          }

        //$('#change-algorithm').val($('#id_algorithm').val());
        //$('#change').submit();

        });


$(document).ready( function(){
    sendSettings('get');


});
</script>

{% endblock %}