
  <div class="tab-pane fade show active" id="discount" role="tabpanel" aria-labelledby="discount-tab">
      <div class="">
            <hr>
          {{ alg_form }}

          <hr>

            <form  id="bonus-form" class="form-group">
                        {{ form }}


                <label id="discount-label" style="display: none;"> Правила начисления скидок: </label>
                <div id="discount-rules">

                </div>
                </br>
                <div id="discount-rules-controls" style="display: none;">
                    <button type=button  class="btn btn-default" onclick="addRule('','');">+</button>
                    <button  type=button class="btn btn-default" onclick="remRule();">-</button>
                </div>




                <p class="text-center">

                 </br>
                <button type="button" class="btn btn-lg" onclick="sendSettings('save');">Сохранить</button>
             </p>


            </form>


        </div>
   </div>
  <div class="tab-pane fade" id="workplace" role="tabpanel" aria-labelledby="workplace-tab">
      {% for cashbox in cashboxes %}
      <div class="">
           <br>
            <p>Доступно касс: {{ licenses_count }}</p>
           <hr />
           <p>Касса: "{{ cashbox.name }}"</p>
          <p>Номер: {{ cashbox.serial_number }}</p>
          <p>Адрес: {{cashbox.address}}</p>
          <p>Статус: {% if cashbox.online %}
              <span style="color: green;">онлайн</span>
            {% else %}
               <span style="color: red;">оффлайн</span>
             {% endif %}

          </p>
            <p>Ключ доступа FRONTOL - {{cashbox.frontol_key}}</p>
            <p><a href="/settings/frontol/?KEY={{cashbox.frontol_key }}"><i class="fa fa-download" aria-hidden="true"></i> Файл настроек FRONTOL</a></p>
            <hr />
       </div>
      {% endfor %}
  </div>
  <div class="tab-pane fade" id="org" role="tabpanel" aria-labelledby="org-tab">
      <div class="">
          <br>
         <h5> Организация - {{org_name}}</h5>
         <p>Активность до: {{active}}</p>
         <hr />
      </div>
  </div>

