{% extends 'main.html' %}
{% block 'content' %}
<h3>Настройки</h3>
<br>
<style>
    .jumbotron {
    background-color: white !important;
    }
</style>

<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="discount-tab" data-toggle="tab" href="#discount" role="tab" aria-controls="discount" aria-selected="true">Дисконтная система</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="workplace-tab" data-toggle="tab" href="#workplace" role="tab" aria-controls="workplace" aria-selected="false">Кассы</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="org-tab" data-toggle="tab" href="#org" role="tab" aria-controls="org" aria-selected="false">Организация</a>
  </li>
</ul>

<div class="tab-content" id="settingsContent">


  <div class="tab-pane fade show active" id="discount" role="tabpanel" aria-labelledby="discount-tab">
   </div>

  <div class="tab-pane fade" id="workplace" role="tabpanel" aria-labelledby="workplace-tab">
  </div>

  <div class="tab-pane fade" id="org" role="tabpanel" aria-labelledby="org-tab">
  </div>



</div>




<script src="/static/js/settings.js"></script>


{% endblock %}