
      <div class="">

           <br>
            <p>Доступно касс для добавления: {{ licenses_count }}</p>
           <hr />

      {% for cashbox in cashboxes %}
          <p><strong>Касса: "{{ cashbox.name }}"</strong> <button class="btn btn-small btn-outline-danger" onClick="deleteWorkplace('{{cashbox.frontol_key}}');"><i class="fa fa-times" aria-hidden="true"></i></button></p>
          <p>Номер: {{ cashbox.serial_number }}</p>
          <p>Адрес: {{cashbox.address}}</p>
          <p>Статус: {% if cashbox.online %}
              <span style="color: green;">онлайн</span>
            {% else %}
               <span style="color: red;">оффлайн</span>
             {% endif %}

          </p>
            <p>Версия Frontol - {{ cashbox.frontol_version }}</p>
            <p>Ключ доступа FRONTOL - {{cashbox.frontol_key}}</p>
            <p><a href="/settings/frontol/?KEY={{cashbox.frontol_key }}"><i class="fa fa-download" aria-hidden="true" ></i> Файл настроек FRONTOL</a></p>
            <hr />
       </div>
      {% endfor %}
<p>
    <button class="btn btn-success btn-sm" id="addCashBoxButton" data-toggle="modal" data-target="#CashBoxModal"><i class="fa fa-money" aria-hidden="true"></i> Добавить </button>
</p>

<div class="modal fade" id="CashBoxModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Касса</h5>
        <button type="button" class="close"  data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form id="CashBoxForm" method="POST">
                {{ form }}
          </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" onclick="sendSettings('save', 'workplace');">Сохранить</button>
        <button type="button" id="modal_close" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
      </div>
    </div>
  </div>
</div>


